.input {
    width: 55%;
}

.input-text {
    width: 100%;
}

.input-text textarea {
    border: none;
    background: none;
    width: 100%;
    font-size: 28px;
    color: #b2b0f7;
    resize: none;
    margin-bottom: 10px;
}

.input-text textarea::placeholder {
    color: #b2b0f7;
}

.input-text textarea:focus {
    border: 0 none;
    outline: 0;
}
